service: largeresponse

provider:
  name: google
  project: faastest
  credentials: ${opt:creds}
  stage: dev

plugins:
  - serverless-google-cloudfunctions

functions:
  large-response-node810-128mb:
    name: --large-response-node810-128mb
    description: a funciton returning a large response 128mb
    runtime: nodejs8
    handler: test128
    memorySize: 128
    events:
      - http: path

  large-response-node810-256mb:
    name: --large-response-node810-256mb
    description: a funciton returning a large response 256mb
    runtime: nodejs8
    handler: test256
    memorySize: 256
    events:
      - http: path

  large-response-node810-512mb:
    name: --large-response-node810-512mb
    description: a funciton returning a large response 512mb
    runtime: nodejs8
    handler: test512
    memorySize: 512
    events:
      - http: path

  large-response-node810-1024mb:
    name: --large-response-node810-1024mb
    description: a funciton returning a large response 1024mb
    runtime: nodejs8
    handler: test1024
    memorySize: 1024
    events:
      - http: path

  large-response-node810-2048mb:
    name: --large-response-node810-2048mb
    description: a funciton returning a large response 2048mb
    runtime: nodejs8
    handler: test2048
    memorySize: 2048
    events:
      - http: path
